<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tambah Destinasi</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<nav class="navbar">

    <div class="logo">
        SAKTI ADMIN
    </div>

    <div class="menu">

        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/destinasi">Destinasi</a>
        <a href="/admin/transaksi">Transaksi</a>
        <a href="/logout">Logout</a>

    </div>

</nav>

<section class="hero">

    <h1>Tambah Destinasi Wisata</h1>

    <p>Tambahkan destinasi wisata baru ke dalam sistem.</p>

</section>

<div class="form-card">

    <form action="/admin/destinasi/simpan" method="post">

        <label>ID Wisata</label>

        <input
                type="text"
                name="idWisata"
                required>

        <label>Nama Wisata</label>

        <input
                type="text"
                name="namaWisata"
                required>

        <label>Harga Tiket</label>

        <input
                type="number"
                name="harga"
                required>

        <label>Lokasi</label>

        <input
                type="text"
                name="lokasi"
                required>

        <label>Jam Operasional</label>

        <input
                type="text"
                name="jam"
                required>

        <button
                class="btn btn-success"
                type="submit">

            <i class="fa-solid fa-floppy-disk"></i>

            Simpan

        </button>

        <a
                href="/admin/destinasi"
                class="btn btn-danger">

            Batal

        </a>

    </form>

</div>

<footer class="footer">

    © 2026 <strong>SAKTI ADMIN</strong>

</footer>

</body>
</html>